In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nasaexoplanets/cleaned_5250.csv

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.10)

In [3]:
df=pd.read_csv("/kaggle/input/nasaexoplanets/cleaned_5250.csv")

In [4]:
df.head()

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.08,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.09,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.15,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.12,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.20,Jupiter,1.660000,2.200000,0.68,Radial Velocity

In [5]:
df.tail()

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
5245,XO-7 b,764.0,10.521,Gas Giant,2019,0.709,Jupiter,1.373,Jupiter,0.04421,0.007940,0.04,Transit
5246,YSES 2 b,357.0,10.885,Gas Giant,2021,6.300,Jupiter,1.140,Jupiter,115.00000,1176.500000,0.00,Direct Imaging
5247,YZ Ceti b,12.0,12.074,Terrestrial,2017,0.700,Earth,0.913,Earth,0.01634,0.005476,0.06,Radial Velocity
5248,YZ Ceti c,12.0,12.074,Super Earth,2017,1.140,Earth,1.050,Earth,0.02156,0.008487,0.00,Radial Velocity
5249,YZ Ceti d,12.0,12.074,Super Earth,2017,1.090,Earth,1.030,Earth,0.02851,0.012868,0.07,Radial Velocity

# A Small Description of Each of the columns
- name: Name of the exoplanet
- distance: Distance of the planet from Earth(in light years)
- stellar magnitude: Absolute magnitude of the planet
- planet-type: type of the planet(compared with our solar system)
- discovery_year: Year on which the planet was discovered
- Finish it after completing the code

We are changing the mass of the exoplanets to a fixed planet mass which is the mass of Earth. *Jupiter is 318 times the mass of Earth*.

Therefore, the planets with masses equal to Jupiter should be multiplied by 318.

In [6]:
#Mass with respect to the mass of Earth
def mass_earth(a):
    if a["mass_wrt"]=="Earth":
        return a["mass_multiplier"]
    elif a["mass_wrt"]=="Jupiter":
        return a["mass_multiplier"]*318
#Radius with respect to the radius of Earth
def rad_earth(b):
    if b["radius_wrt"]=="Earth":
        return b["radius_multiplier"]
    elif b["radius_wrt"]=="Jupiter":
        return b["radius_multiplier"]*11.2

df["mass_multiplier"]=df.apply(mass_earth, axis=1)
df["radius_multiplier"]=df.apply(rad_earth, axis=1)

In [7]:
df.head(4)

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,6169.20000,Jupiter,12.096,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,4687.32000,Jupiter,12.208,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,1526.40000,Jupiter,12.880,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,2588.14158,Jupiter,12.544,Jupiter,2.773069,4.800000,0.37,Radial Velocity

In [8]:
df=df.rename(columns={"mass_multiplier": "mass_earth", "radius_multiplier":"radius_earth"})

In [9]:
df.head(4)

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_earth,mass_wrt,radius_earth,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,6169.20000,Jupiter,12.096,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,4687.32000,Jupiter,12.208,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,1526.40000,Jupiter,12.880,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,2588.14158,Jupiter,12.544,Jupiter,2.773069,4.800000,0.37,Radial Velocity

In [10]:
df.isnull().any()

name                 False
distance              True
stellar_magnitude     True
planet_type          False
discovery_year       False
mass_earth            True
mass_wrt              True
radius_earth          True
radius_wrt            True
orbital_radius        True
orbital_period       False
eccentricity         False
detection_method     False
dtype: bool

In [11]:
df.isnull().sum()

name                   0
distance              17
stellar_magnitude    161
planet_type            0
discovery_year         0
mass_earth            23
mass_wrt              23
radius_earth          17
radius_wrt            17
orbital_radius       289
orbital_period         0
eccentricity           0
detection_method       0
dtype: int64

In [12]:
df.drop(["mass_wrt", "radius_wrt"], axis=1, inplace=True)

In [13]:
df.head()

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_earth,radius_earth,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,6169.20000,12.096,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,4687.32000,12.208,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,1526.40000,12.880,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,2588.14158,12.544,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,566.04000,13.440,1.660000,2.200000,0.68,Radial Velocity

In [14]:
df.dropna(subset=["mass_earth", "radius_earth"])
df.describe(include="all")

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_earth,radius_earth,orbital_radius,orbital_period,eccentricity,detection_method
count,5250,5233.000000,5089.000000,5250,5250.000000,5227.000000,5233.000000,4961.000000,5.250000e+03,5250.000000,5250
unique,5250,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,11
top,11 Comae Berenices b,NaN,NaN,Neptune-like,NaN,NaN,NaN,NaN,NaN,NaN,Transit
freq,1,NaN,NaN,1825,NaN,NaN,NaN,NaN,NaN,NaN,3945
mean,NaN,2167.168737,12.683738,NaN,2015.732190,460.035228,5.627083,6.962942,4.791509e+02,0.063568,NaN
std,NaN,3245.522087,3.107571,NaN,4.307336,3761.458717,5.315522,138.673600,1.680445e+04,0.141424,NaN
min,NaN,4.000000,0.872000,NaN,1992.000000,0.020000,0.296000,0.004400,2.737851e-04,-0.520000,NaN
25%,NaN,389.000000,10.939000,NaN,2014.000000,3.970000,1.760000,0.053000,1.259411e-02,0.000000,NaN
50%,NaN,1371.000000,13.543000,NaN,2016.000000,8.470000,2.732800,0.102800,3.449692e-02,0.000000,NaN
75%,NaN,2779.000000,15.021000,NaN,2018.000000,159.000000,11.715200,0.286000,1.442163e-01,0.060000,NaN
max,NaN,27727.000000,44.610000,NaN,2023.000000,239136.000000,77.280000,7506.000000,1.101370e+06,0.950000,NaN

In [15]:
df.isnull().sum()

name                   0
distance              17
stellar_magnitude    161
planet_type            0
discovery_year         0
mass_earth            23
radius_earth          17
orbital_radius       289
orbital_period         0
eccentricity           0
detection_method       0
dtype: int64

In [16]:
#Considering the most frequently occurring distance for the exoplanets
df["distance"].fillna(df["distance"].mode()[0], inplace=True)

<ipython-input-16-50e46635d652>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["distance"].fillna(df["distance"].mode()[0], inplace=True)

In [17]:
df["distance"].isnull().sum()

0

In [18]:
#Considering an average value for the stellar magnitude
print(df["stellar_magnitude"].mean())

12.683737796030655

In [19]:
df["stellar_magnitude"].fillna(df["stellar_magnitude"].mean(), inplace=True)

<ipython-input-19-ffed50c7c9cc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["stellar_magnitude"].fillna(df["stellar_magnitude"].mean(), inplace=True)

In [20]:
df["stellar_magnitude"].isnull().sum()

0

In [21]:
#Considering the mean and mode for the orbital_radius, mass_earth and radius_earth respectively
df["mass_earth"].fillna(df["mass_earth"].mean(), inplace=True)
df["orbital_radius"].fillna(df["orbital_radius"].mode()[0], inplace=True)
df["radius_earth"].fillna(df["radius_earth"].mean(), inplace=True)

<ipython-input-21-9d79c2d9c681>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["mass_earth"].fillna(df["mass_earth"].mean(), inplace=True)
<ipython-input-21-9d79c2d9c681>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["orbital_radius"].fillna(df["orbital_radius"].mode()[0], inplace=True)
<ipython-input-21-9d79c2d9c681>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["radius_earth"].fillna(df["radius_earth"].mean(), inplace=True)

In [22]:
df.isnull().sum()

name                 0
distance             0
stellar_magnitude    0
planet_type          0
discovery_year       0
mass_earth           0
radius_earth         0
orbital_radius       0
orbital_period       0
eccentricity         0
detection_method     0
dtype: int64

In [23]:
#Applying absolute value for eccentricity as it cannot be negative
df["eccentricity"]=df["eccentricity"].apply(abs)

In [24]:
df.columns.tolist()

['name',
 'distance',
 'stellar_magnitude',
 'planet_type',
 'discovery_year',
 'mass_earth',
 'radius_earth',
 'orbital_radius',
 'orbital_period',
 'eccentricity',
 'detection_method']

**Data Visualization**

In [25]:
import seaborn as sns
plt.figure(figsize=(12,6))
sns.countplot(x="discovery_year", data=df, palette="crest")
plt.xticks(rotation=45)
plt.title("Discovery of Planet over the years (1992-2023)")
plt.show()

NameError: name 'plt' is not defined

- Maximum number of exoplanets were observed during the year 2014 and 2016
- The first confirmed exoplanet was discovered in the year 1992 around a pulsar.
- Kepler space telescope observed the largest number of exoplanets in 2016 in one sweep

In [ ]:
#Pie chart to visualize the different categories of exoplanets
df["planet_type"].value_counts().plot.pie(autopct="%1.1f%%",figsize=(10,6))
plt.legend(bbox_to_anchor=(1.2, 0.5), loc="center left")
plt.title("Categories of exoplanets")
plt.ylabel("")
plt.show()

- Super Earth and Terrestial can be considered as habitable planets
- Gas Giant and Neptune can be considered as non-habitable planets

In [ ]:
df.head()

In [ ]:
print(df["detection_method"].unique())

In [ ]:
#Bar chart to see the detection of planets
df_bar=df.groupby("detection_method")["planet_type"].value_counts().reset_index()
df_bar = df_bar.sort_values(by="count", ascending=True)
df_bar.head()

In [ ]:
plt.figure(figsize=(12,12))
plt.barh(df_bar["detection_method"] + " - " + df_bar["planet_type"], df_bar["count"], color="brown")  # Horizontal bar chart
plt.xlabel("Count")
plt.ylabel("Detection Method - Planet Type")
plt.title("Number of Exoplanets by Detection Method and Type")
plt.show()

- planets closer to the host star are easily detected by trasit surveys than radial velocity method and is most sensitive to the planet with small orbits.

In [ ]:
log_mass = np.log10(df["mass_earth"])
def log_to_lin(x, pos):
    return f"{10**x:.2f}"

In [ ]:
from matplotlib.ticker import FuncFormatter
plt.hist(log_mass, bins=150, color="purple")
plt.xlim(-1,5)
plt.xlabel("Earth Mass")
plt.ylabel("Frequency")
plt.title("Distribution of planet mass")
plt.gca().xaxis.set_major_formatter(FuncFormatter(log_to_lin))
plt.show()

- the bimodal curve's first peak by Super Earths and Neptunian planets
- Second curve by gas giants

In [ ]:
log_radius = np.log10(df["radius_earth"])
def log_to_lin(x, pos):
    return f"{10**x:.2f}"
df.head()

In [ ]:
sns.kdeplot(log_radius, fill=True, color="purple")
plt.xlabel("Earth Radius")
plt.ylabel("Density")
plt.title("KDE Plot of Exoplanet radius")
plt.gca().xaxis.set_major_formatter(FuncFormatter(log_to_lin))
plt.show()

In [ ]:
#Relation between planet mass and radius
sns.scatterplot(x=log_mass, y=log_radius, data=df, hue="planet_type", alpha=0.7,s=70)
plt.gca().xaxis.set_major_formatter(FuncFormatter(log_to_lin))
plt.gca().yaxis.set_major_formatter(FuncFormatter(log_to_lin))
plt.title("Relation between planet mass and radius")
plt.show()

In [ ]:
log_period = np.log10(df["orbital_period"])
log_orbital_radius=np.log10(df["orbital_radius"])
def log_to_lin(x, pos):
    return f"{10**x:.2f}"
df.head()

In [ ]:
#Orbital Period and Radius
sns.scatterplot(x=log_orbital_radius, y=log_period, data=df, alpha=0.7,s=50, color="orange")
plt.gca().xaxis.set_major_formatter(FuncFormatter(log_to_lin))
plt.gca().yaxis.set_major_formatter(FuncFormatter(log_to_lin))
plt.title("Relation between orbital period and radius")
plt.show()

- greater the distance from the primary star larger is the orbital period
- linear relationship, increase in orbital radius means greater orbital period
- the straight line is the fault is the data that is covered my replacing the missing values and can be ignored